<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BrandName</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Aboutz</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <nav class="navbar navbar-light bg-light ms-4">
      <form class="form-inline">
        <input
          style="position: relative"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search by Name"
          aria-label="Search"
        />
        <span
          style="position: absolute; right: 8px; top: 13px"
          class="bi bi-search"
        ></span>
        <!-- <span class="bi bi-search"></span> -->
      </form>
    </nav>
  </div>
  <div class="form-inline d-flex flex-row-">
    <i class="bi bi-bell me-4"></i>
    <i class="bi bi-envelope me-4"></i>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
      class="rounded-circle me-4"
      style="width: 30px"
      style="height: 30px"
      alt="Avatar"
    />

    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown link
    </a>
  </div>
</nav>

<app-card></app-card>
