<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <form class="form-container" [formGroup]="exform">
        <div class="form-group">
          <h1 class="text-center">Sign In</h1>
          <label>Email address</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter email"
          />
          <small
            *ngIf="exform.get('email')?.invalid && exform.get('email')?.touched"
            class="text-danger"
            >Email is required</small
          >
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
          <small
            *ngIf="
              exform.get('password')?.invalid && exform.get('password')?.touched
            "
            class="text-danger"
            >Password is required</small
          >
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <br />
        <button
          [disabled]="exform.invalid"
          type="submit"
          class="btn btn-primary w-100"
          (click)="goToPage()"
        >
          Submit
        </button>
      </form>
    </section>
  </section>
</section>
