.bg {
  background-color: blue;
  height: 100vh;
}
.form-container {
  margin-top: 14rem;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-sizing: 0px 0px 10px 0 #000;
}
.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
}
